.column {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 300px;
    display: flex;
    flex-direction: column; 
    border: 0px solid black;

}

.villager {
    display:flex;
    flex-direction: column;
    padding: 4px;
    border: 1px solid black;
    justify-content: center;
}

.type {

}

.villager > div > .icon {
    max-width: 100px;
}